<!DOCTYPE html>
<html>
    <head>
        <style>
            @font-face { font-family: 'NanumSquareRound'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff'); font-weight: normal; font-style: normal; }            

            .title{
                font-style:bold;
            }

            html, body{
                background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);           

                font-family:'NanumSquareRound';
            }
        </style>
    </head>
    <body>
        <h1 class="title">about</h1>

        <p>
            워드카운트 웹페이지. 여기에서 글자를 쓰세요.
        </p>
        
        <a href="{% url 'index' %}">Home</a>
    </body>
</html>
